@font-face {
    font-family: centuryRegular;
    src: url("fonts/CenturyRegular.ttf");
}

@font-face {
    font-family: centuryItalic;
    src: url("fonts/CenturyItalic.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f3bb44;
  padding: 50px 50px 0 50px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6d6c68;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: centuryRegular;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  line-height: 108px;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: centuryItalic;
  font-size: 42px;
  font-weight: normal;
  text-align: center;
  text-transform: none;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: 'Fjord One', serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  line-height: 40px;
}

#page-wrapper {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  border: 0px none rgb(216, 221, 228);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px;
  background: url("images/waves.jpg") center center repeat;
}

#page {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  max-width: 1100px;
  height: 100%;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
}

header {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 25%;
  text-transform: uppercase;
  font-size: 14px;
}

#header-texts {
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;;
}

#header-leftext {
  float: left;
  width: 33.3%;
  text-align: left;
}

#header-centext {
  float: left;
  width: 33.3%;
  text-align: center;
}

#header-rightext {
  float: left;
  width: 33.3%;
  text-align: right;
}

#title {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#random-container {
  position: relative;
  float: left;
  width: 100%;
  height: 320px;
  overflow: hidden;
  box-sizing: border-box;;
}

#random-ornaments-top {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

#random-text-container {
  position: relative;
  width: 100%;
  height: 200px;
  max-height: 100px;
  overflow: hidden;
  z-index: 1;
}

#random-text-container-shadow {
  position: relative;
  height: 100px;
  width: 100%;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0px 0px 20px;
  display: block;
  margin-top: -100px;
  z-index: 100;
}

#random-texts {
  background: url("images/wavesdarker.jpg") center center repeat;
  position: absolute;
  top: -100px;
  width: 100%;
  height: 200px;
  transition: 0.8s ease-in-out;
}

.roll {
  top: 0px !important;
  transition: 0.8s ease-in-out;
}

#random-text {
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
}

.parts {
  display: inline;
}

#random-ornaments-bot {
  display: block;
  width: 100%;
  margin-top: 40px;
}

#cta-container {
  position: relative;
  float: left;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: transparent;
  box-sizing: border-box;
}

#cta-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 106px;
  height: 175px;
  clip: rect(10px, 106px, 175px, 0px);
}

#ribbon {
  margin: 0;
  transition: all 0.1s;
  cursor: pointer;
}

#ribbon:hover {
  margin-top: 2px;
  transition: all 0.1s;
}

#ribbon:active {
  margin-top: 10px;
  transition: all 0.1s;
}

#shadow {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
